$inter: 'Inter', sans-serif;
$primary-font: $inter;

// Headings
$primary-heading-size: 4.5rem;
$secondary-heading-size: 3.74rem;
$tertiary-heading-size: 1.5rem;

// Heading mobile
$primary-heading-size-m: 2.625rem;
$secondary-heading-size-m: 2rem;

// Body
$primary-text-size: 1rem;
$secondary-text-size: 0.625rem;

// Action
$text-element-size: 1rem;
$burger-link-size: 2rem;
$regular: 400;
$bold: 600;
