/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body {
  line-height: 1;
} */

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

.burger-menu {
  display: none;
  grid-area: burger;
  justify-self: end;
}

@media screen and (width <= 768px) {
  .burger-menu {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #665f55;
    border-radius: 50%;
    transform: translateY(-1px);
    transition: 0.5s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  .burger-menu .icon {
    stroke: #665f55;
  }
}

@media screen and (width <= 768px) and (hover: hover) {
  .burger-menu:hover {
    background-color: #e1d4c9;
    border-color: #665f55;
  }

  .burger-menu:hover .icon {
    stroke: #403f3d;
  }
}

.burger-menu__item {
  width: 1rem;
  height: 0.1rem;
  background-color: #403f3d;
  border-radius: 6.25rem;
  transition: 0.5s;
}

.burger-menu_active > .burger-menu__item:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}

.burger-menu_active > .burger-menu__item:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}

.button__primary {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 4.875rem;
  color: #403f3d;
  text-decoration: none;
  cursor: pointer;
  background: #e1d4c9;
  border: 1px solid #e1d4c9;
  border-radius: 6.25rem;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@media (hover: hover) {
  .button__primary:hover .button__primary-text {
    transform: translateX(-1rem);
  }

  .button__primary:hover .button__primary-text::after {
    opacity: 1;
  }
}

@media screen and (width <= 768px) {
  .button__primary .button__primary-text {
    transform: translateX(-1rem);
  }

  .button__primary .button__primary-text::after {
    opacity: 1;
  }
}

@media screen and (width <= 500px) {
  .button__primary {
    padding: 1.15rem 4.9rem;
  }
}

.button__primary-text {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  transition: 0.5s;
}

.button__primary-text::after {
  position: absolute;
  right: -1.5rem;
  content: url('../assets/images/svg/coffee-cup.svg');
  opacity: 0;
  transition: 0.5s;
}

@media screen and (width <= 768px) {
  .button__primary-text::after {
    right: -2rem;
  }
}

.button__store {
  display: grid;
  grid-template-areas: 'icon available' 'icon store';
  grid-template-columns: 2.25rem auto;
  column-gap: 0.5rem;
  width: 9.9rem;
  padding: 0.75rem 1.25rem;
  color: #403f3d;
  cursor: pointer;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 6.25rem;
  transition: 0.5s;
}

@media (hover: hover) {
  .button__store:hover {
    background: #665f55;
  }

  .button__store:hover * {
    color: #e1d4c9;
    fill: #e1d4c9;
  }
}

.button__store-icon {
  grid-area: icon;
  width: 2.3rem;
  height: 2.3rem;
  fill: #403f3d;
}

.button__store-available {
  grid-area: available;
  font-size: 0.625rem;
  line-height: 150%;
  color: #403f3d;
}

.button__store-text {
  grid-area: store;
  font-size: 1rem;
  line-height: 150%;
  color: #403f3d;
}

.button__load-more {
  display: none;
}

@media screen and (width <= 768px) {
  .button__load-more {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #665f55;
    border-radius: 50%;
    transition: 0.5s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .button__load-more .icon {
    stroke: #665f55;
  }
}

@media screen and (width <= 768px) and (hover: hover) {
  .button__load-more:hover {
    background-color: #665f55;
    border-color: #665f55;
  }

  .button__load-more:hover .icon {
    stroke: #e1d4c9;
  }
}

@media screen and (width <= 700px) {
  .button__load-more {
    grid-column: auto;
  }
}

.button__close {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.85rem 4.875rem;
  color: #403f3d;
  cursor: pointer;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 6.25rem;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@media (hover: hover) {
  .button__close:hover {
    background: #665f55;
  }

  .button__close:hover * {
    color: #e1d4c9;
    fill: #e1d4c9;
  }
}

.button__option {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  color: #403f3d;
  cursor: pointer;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 6.25rem;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@media (hover: hover) {
  .button__option:hover {
    background: #665f55;
  }

  .button__option:hover * {
    color: #e1d4c9;
    fill: #e1d4c9;
  }
}

@media (hover: hover) {
  .button__option:hover {
    color: #e1d4c9;
    background-color: #665f55;
    border: 1px solid #665f55;
  }

  .button__option:hover .button__option-icon {
    color: #403f3d;
    background-color: #e1d4c9;
  }
}

.button__option-icon {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  font-weight: 600;
  color: #403f3d;
  background-color: #c1b6ad;
  border-radius: 50%;
}

.button__option_active {
  color: #e1d4c9;
  cursor: default;
  background-color: #665f55;
  border: 1px solid #665f55;
}

.button__option_active .button__option-icon {
  color: #403f3d;
  background-color: #e1d4c9;
}

@media screen and (width <= 768px) {
  .coffee-menu .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.contacts {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 1.3rem;
}

.contacts__item {
  position: relative;
  padding-left: 1.75rem;
  font-size: 1rem;
  line-height: 150%;
  color: #e1d4c9;
  letter-spacing: 0.015rem;
  cursor: default;
}

.contacts__item_clock::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: url('../assets/images/svg/clock.svg');
}

.contacts__link {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
  color: #e1d4c9;
  letter-spacing: 0.015rem;
  text-decoration: none;
}

.contacts__link::after {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: '';
  background-color: #e1d4c9;
  transform: scale(0);
  transition: 0.5s;
}

@media (hover: hover) {
  .contacts__link:hover::after {
    transform: scale(1);
  }
}

.contacts__link::before {
  position: absolute;
  top: 0;
  left: -1.75rem;
  width: 1.25rem;
  height: 1.25rem;
}

.contacts__link_pin-alt::before {
  content: url('../assets/images/svg/pin-alt.svg');
}

.contacts__link_phone::before {
  content: url('../assets/images/svg/phone.svg');
}

.contacts-info__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
}

.container {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  .container {
    max-width: 43rem;
  }
}

@media screen and (width <= 500px) {
  .container {
    max-width: 21.8rem;
    padding: 0 1rem;
  }
}

.enjoy {
  position: relative;
  z-index: 0;
  max-width: 85rem;
  padding: 6.35rem 5.8rem 6.2rem;
  overflow: hidden;
  background: url('../assets/images/main_bg.jpg') no-repeat left center/cover;
  border-radius: 2.5rem;
}

.enjoy__bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (width <= 768px) {
  .enjoy {
    padding: 6.25rem 3.25rem 6.3rem;
    background-position-x: center;
    background-position-y: center;
  }
}

@media screen and (width <= 500px) {
  .enjoy {
    padding: 3.75rem 0.5rem;
  }
}

.gallery {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-auto-flow: column dense;
  gap: 2.5rem;
}

@media screen and (width <= 768px) {
  .gallery {
    grid-template-columns: auto;
  }
}

.gallery__item:first-child {
  grid-area: 1/1/3/3;
}

.gallery__item:nth-child(2) {
  grid-area: 3/1/5/3;
}

.gallery__item:nth-child(3) {
  grid-area: 1/3/2/5;
}

.gallery__item:last-child {
  grid-area: 2/3/5/5;
}

@media screen and (width <= 768px) {
  .gallery__item:first-child,
  .gallery__item:last-child {
    grid-area: auto;
  }
}

.gallery-item {
  height: 36.9rem;
  overflow: hidden;
  border-radius: 1.25rem;
}

.gallery-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s;
}

@media (hover: hover) {
  .gallery-item:hover > img {
    transform: scale(1);
  }
}

@media screen and (width <= 768px) {
  .gallery-item {
    height: 36.9rem;
    overflow: hidden;
    border-radius: 1.25rem;
  }

  .gallery-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 0.5s;
  }
}

@media screen and (width <= 768px) and (hover: hover) {
  .gallery-item:hover > img {
    transform: scale(1);
  }
}

@media screen and (width <= 700px) {
  .gallery-item {
    height: 36.9rem;
    overflow: hidden;
    border-radius: 1.25rem;
  }

  .gallery-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25);
    transition: 0.5s;
  }
}

@media screen and (width <= 700px) and (hover: hover) {
  .gallery-item:hover > img {
    transform: scale(1);
  }
}

.gallery-item_parallelogram {
  height: 26.875rem;
  overflow: hidden;
  border-radius: 1.25rem;
}

.gallery-item_parallelogram > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s;
}

@media (hover: hover) {
  .gallery-item_parallelogram:hover > img {
    transform: scale(1);
  }
}

@media screen and (width <= 768px) {
  .gallery-item_parallelogram {
    display: none;
  }
}

.header-menu {
  display: grid;
  grid-template-areas: 'logo navigation';
  grid-template-columns: 6.25rem 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 3.75rem;
}

@media screen and (width <= 768px) {
  .header-menu {
    grid-template-areas: 'logo burger' 'navigation navigation';
    grid-template-rows: 3.75rem auto;
  }
}

.icon,
.button__primary-text::after {
  width: 1.25rem;
  height: 1.25rem;
}

.link {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  text-decoration: none;
}

.link::after {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: '';
  background-color: #403f3d;
  transform: scale(0);
  transition: 0.5s;
}

@media (hover: hover) {
  .link:hover::after {
    transform: scale(1);
  }
}

@media screen and (width <= 768px) {
  .link {
    gap: 1.25rem;
    font-size: 2rem;
  }
}

.link_active {
  cursor: default;
}

.link_active::after {
  transform: scale(1);
}

.logo {
  grid-area: logo;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(64 63 61 / 80%);
}

.modal-card {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 1.25rem;
  width: 100%;
  max-width: 48rem;
  padding: 1rem;
  background-color: #e1d4c9;
  border-radius: 2.5rem;
}

@media screen and (width <= 768px) {
  .modal-card {
    max-width: 41rem;
  }
}

@media screen and (width <= 700px) {
  .modal-card {
    max-width: 19rem;
  }
}

.modal-card__poster {
  -webkit-box-flex: 0;
  flex: 0 0 19.35rem;
  height: 19.35rem;
  background: no-repeat center center/110%;
  border-radius: 2.5rem;
}

@media screen and (width <= 700px) {
  .modal-card__poster {
    display: none;
  }
}

.modal-card__content {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.modal-card__title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

.modal-card__description {
  margin-bottom: 1.4rem;
  line-height: 150%;
}

.modal-card__size-section-title,
.modal-card__additives-section-title {
  margin-bottom: 0.8rem;
}

.modal-card__sizes,
.modal-card__additives {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.35rem;
}

.modal-card__price-section {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.15rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.modal-card__alert {
  position: relative;
  padding: 0.75rem 0 0.75rem 1.5rem;
  margin-bottom: 1.15rem;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
  border-top: 1px solid #c1b6ad;
}

.modal-card__alert::before {
  position: absolute;
  top: 0.75rem;
  left: 0;
  content: url('./../assets/images/svg/info.svg');
}

.navigation {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  grid-area: navigation;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transform: translateY(-3px);
}

@media screen and (width <= 768px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 5.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 4.85rem 1.75rem;
    background-color: #e1d4c9;
    transform: translateX(200%);
    transition: 0.5s;
  }
}

.navigation__list {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 2.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

@media screen and (width <= 768px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 3.25rem;
    transform: translateX(-0.1rem);
  }
}

.offer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.125rem;
  padding-left: 0.4rem;
}

@media screen and (width <= 768px) {
  .offer {
    gap: 2.5rem;
    width: 97%;
  }
}

.offer__title {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
}

@media screen and (width <= 768px) {
  .offer__title {
    line-height: 105%;
  }
}

@media screen and (width <= 700px) {
  .offer__title {
    font-size: 2.625rem;
    line-height: 115%;
  }
}

.offer__title_accent {
  font-style: italic;
  line-height: 105%;
  color: #b0907a;
}

.offer__description {
  font-size: 1rem;
  line-height: 150%;
  color: #e1d4c9;
}

@media screen and (width <= 500px) {
  .offer__description {
    padding-right: 0.4rem;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 19.3rem);
  gap: 2.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

@media screen and (width <= 500px) {
  .products {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 2.45rem;
    justify-items: center;
  }
}

.products-area {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.product-card {
  display: block;
  border: 1px solid #c1b6ad;
  border-radius: 2.5rem;
}

/* .product-card__content {
  display: grid;
  grid-template-rows: 1fr 2.4fr 1fr;
  gap: 0.75rem;
} */

.product-card__title,
.product-card__price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

.product-card__description {
  font-size: 1rem;
  line-height: 150%;
  color: #403f3d;
}

@media screen and (width <= 768px) {
  .product-card {
    max-width: 19.15rem;
  }

  .product-card[hidden] {
    display: none;
  }
}

@media (hover: hover) {
  .product-card:hover .product-card__image {
    transform: scale(1);
  }
}

.product-card__image-wrapper {
  height: 19.3rem;
  overflow: hidden;
  border-radius: 2.5rem;
}

.product-card__image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s;
}

@media (hover: hover) {
  .product-card__image-wrapper:hover > img {
    transform: scale(1);
  }
}

.product-card__content {
  padding: 1.25rem 1.15rem;
}

@media screen and (width <= 768px) {
  .product-card__content {
    padding-right: 1.2rem;
  }
}

.slide {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide__title,
.slide__price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

.slide__description {
  font-size: 1rem;
  line-height: 150%;
  color: #403f3d;
  text-align: center;
}

@media screen and (width <= 500px) {
  .slide {
    width: 22rem;
  }
}

.slide__image-wrapper {
  max-height: 30rem;
  padding-bottom: 0.3rem;
}

@media screen and (width <= 500px) {
  .slide__image-wrapper {
    padding-bottom: 0;
  }
}

.slide__image {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* .slide__description {
  text-align: center;
} */

.slider {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  gap: 2.5rem;
  -ms-flex-line-pack: center;
  align-content: center;
  user-select: none;
}

.slider__wrapper {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  grid-gap: 1.7rem;
  max-width: 30rem;
  overflow-x: hidden;
}

.slider__inner {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  transition: 0.5s;
}

.slider__slide {
  -webkit-box-flex: 0;
  flex: 0 0 30rem;
}

.slider__indicators {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__indicator {
  position: relative;
  width: 2.5rem;
  height: 0.25rem;
  overflow: hidden;
  appearance: none;
  cursor: pointer;
  background-color: #c1b6ad;
  border-radius: 6.25rem;
  transition: 0.5s;
}

.slider__indicator::-webkit-slider-thumb {
  width: 0;
  appearance: none;
  cursor: default;
  border-radius: 100%;
  box-shadow: -400px 0 0 400px #665f55;
}

.slider__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #665f55;
  border-radius: 6.25rem;
}

.slider__controls {
  position: absolute;
  top: 46.5%;
  left: 0;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-46.5%);
}

@media screen and (width <= 500px) {
  .slider__controls {
    display: none;
  }
}

.slider__arrow-left,
.slider__arrow-right {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #665f55;
  border-radius: 50%;
  transition: 0.5s;
}

.slider__arrow-left .icon,
.slider__arrow-right .icon {
  stroke: #665f55;
}

@media (hover: hover) {
  .slider__arrow-left:hover,
  .slider__arrow-right:hover {
    background-color: #665f55;
    border-color: #665f55;
  }

  .slider__arrow-left:hover .icon,
  .slider__arrow-right:hover .icon {
    stroke: #e1d4c9;
  }
}

.socials {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.6rem;
}

.socials__item {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #c1b6ad;
  border-radius: 50%;
  stroke: #e1d4c9;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.socials__item .icon {
  stroke: #c1b6ad;
}

@media (hover: hover) {
  .socials__item:hover {
    background-color: #e1d4c9;
    border-color: #c1b6ad;
  }

  .socials__item:hover .icon {
    stroke: #403f3d;
  }
}

.store-buttons {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 1.25rem;
}

@media screen and (width <= 500px) {
  .store-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.tab {
  transition: 0.5s;
}

.tab__icon {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1rem;
  height: 1.5rem;
  padding: 0.1875rem 0.4375rem;
  background-color: #c1b6ad;
  border-radius: 50%;
}

.tabs {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (width <= 700px) {
  .tabs {
    gap: 0.5rem;
  }
}

.tabs__item {
  position: relative;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.3rem 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  cursor: pointer;
  background: transparent;
  border: 1px solid #c1b6ad;
  border-radius: 6.25rem;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.tabs__item .tab__icon {
  background-color: #c1b6ad;
}

@media (hover: hover) {
  .tabs__item:hover {
    color: #e1d4c9;
    background-color: #665f55;
    border: 1px solid #665f55;
  }

  .tabs__item:hover .tab__icon {
    background-color: #e1d4c9;
  }
}

.tabs__item_active {
  color: #e1d4c9;
  cursor: default;
  background-color: #665f55;
  border: 1px solid #665f55;
}

.tabs__item_active .tab__icon {
  background-color: #e1d4c9;
}

.title {
  font-size: 3.74rem;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

@media screen and (width <= 700px) {
  .title {
    font-size: 2rem;
  }
}

.title_accent {
  font-style: italic;
  color: #b0907a;
}

.title_light {
  color: #e1d4c9;
}

.about {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.45rem;
}

.favorite-coffee .title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  padding: 6.25rem;
  background-color: #665f55;
  border-radius: 2.5rem;
}

@media screen and (width <= 768px) {
  .footer {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    padding: 6.25rem 3.75rem 6.55rem;
  }
}

@media screen and (width <= 500px) {
  .footer {
    gap: 2.5rem;
    padding: 3.9rem 0 4rem 1rem;
  }
}

.footer__social-media,
.footer__contacts {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media screen and (width <= 700px) {
  .footer__social-media,
  .footer__contacts {
    gap: 2.35rem !important;
  }
}

.footer__social-media {
  gap: 2.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__contacts {
  gap: 2.3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  position: relative;
  z-index: 1;
}

.main {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 6.25rem;
  padding: 1.25rem 0 6.1rem;
}

.main-menu {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.55rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.25rem 0 6.2rem;
}

@media screen and (width <= 768px) {
  .main-menu {
    padding-bottom: 6.1rem;
  }
}

@media screen and (width <= 500px) {
  .main-menu {
    padding-bottom: 6.2rem;
  }
}

.main-menu__title {
  max-width: 50rem;
  text-align: center;
}

.mobile-app {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 6.3rem;
}

@media screen and (width <= 768px) {
  .mobile-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

@media screen and (width <= 700px) {
  .mobile-app {
    gap: 2.3rem;
  }
}

.mobile-app__content {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-app__description {
  font-size: 1rem;
  line-height: 150%;
  color: #403f3d;
}

@media screen and (width <= 768px) {
  .mobile-app__decor {
    margin: 0 auto;
  }
}

.mobile-app__image {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #403f3d;
  background-color: #e1d4c9;
}

.wrapper {
  padding: 1.25rem 0 2.5rem;
  overflow-x: hidden;
}
